#ccmc-info-container {
  padding: 10px;
  width: 300px;
}

#ccmc-info-container > vbox {
  padding: 5px;
}
#ccmc-info-thumbnail {
  -moz-background-size: 75px;
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 75px;
  height: 75px;
}

#ccmc-info-license {
  margin-top: 5px;
}
